{#
/**
 * @file
 * Template override for preview mode of "Gallery" pattern.
 */
#}

<h2 class="mb-3">Default</h2>
{{ pattern('gallery', {
  items: items,
  prev_label: _prev_label,
  next_label: _next_label,
  with_controls: true,
  with_indicators: false,
}) }}

<div class="gallery-responsive">
  <h2 class="mt-5 mb-3">Large</h2>
  <div style="width: 992px;">
    {{ pattern('gallery', {
      items: items,
      prev_label: _prev_label,
      next_label: _next_label,
      with_controls: true,
      with_indicators: false,
    }) }}
  </div>

  <h2 class="mt-5 mb-3">Medium</h2>
  <div style="width: 768px;">
    {{ pattern('gallery', {
      items: items,
      prev_label: _prev_label,
      next_label: _next_label,
      with_controls: true,
      with_indicators: false,
    }) }}
  </div>

  <h2 class="mt-5 mb-3">Small</h2>
  <div style="width: 576px;">
    {{ pattern('gallery', {
      items: items,
      prev_label: _prev_label,
      next_label: _next_label,
      with_controls: true,
      with_indicators: false,
    }) }}
  </div>
</div>
