{% extends 'pattern-dropdown.html.twig' %}

{% block menu %}
  <div class="dropdown-menu">
    {% if content and content_position == 'top' %}
      {{ content }}
    {% endif %}
    {% for item in items %}
      {{ item }}
    {% endfor %}
    {% if content and content_position != 'top' %}
      {{ content }}
    {% endif %}
  </div>
{% endblock %}
