{% set attributes = attributes.addClass([
  'dropdown',
  direction ? direction
  ]) %}

<div{{ attributes }}>
  {% block button %}
    {{ include('@eua_theme/patterns/dropdown/_dropdown-button.html.twig') }}
  {% endblock %}
  <ul class="dropdown-menu">
    {% for item in items %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
</div>
