{% set attributes = attributes.addClass([
  'dropdown',
  direction ? direction
  ]) %}

<div{{ attributes }}>
  {% block button %}
    {{ pattern('button', {
      label: label,
      style: style,
      outline: outline,
      size: size,
      disabled: disabled,
      attributes: create_attribute({
        'class': 'dropdown-toggle',
        'data-bs-toggle': 'dropdown',
        'data-boundary': 'window',
        'aria-expanded': 'false'
      })
    }) }}
  {% endblock %}
  {% block menu %}
    <ul class="dropdown-menu">
      {% for item in items %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  {% endblock %}
</div>
