{% set baseClass = 'btn-group' %}
{% set attributes = attributes.addClass([
  vertical ? baseClass ~ '-vertical' : baseClass,
  size ? baseClass ~ '-' ~ size
  ]) %}

<div{{ attributes.setAttribute('role', 'group').setAttribute('aria-label', label) }}>
  {% for button in buttons %}
    {{ button }}
  {% endfor %}
</div>
