{#
/**
 * @file
 * Theme override for a progress bar.
 *
 * Note that the core Batch API uses this only for non-JavaScript batch jobs.
 *
 * Available variables:
 * - label: Text before progress bar.
 * - percent: Percentage of progress in the bar.
 * - message: Text under progress bar.
 */
#}

<div data-drupal-progress>
  {{ pattern('progress', {
    'progress': percent,
    'striped': true,
    'animated': true,
    'label': label,
    'style': 'primary',
    'message': message
  }) }}
</div>
