{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true,
        "modules": false,
        "forceAllTransforms": true,
        "useBuiltIns": "usage",
        "corejs": {
          "version": 3,
          "proposals": false
        },
        "targets": "last 1 version, > 1%"
      }
    ]
  ]
}
