{% set id = 'collapse-' ~ random(1000) %}
<p>
  {{ pattern('button', {
    label: label,
    style: style,
    outline: outline,
    url: '#' ~ id,
    size: size,
    attributes: create_attribute({
      'data-bs-toggle': 'collapse',
      'role': 'button',
      'aria-expanded': 'false',
      'aria-controls': id
    })
  }) }}
</p>
<div class="collapse" id="{{id}}">
  <div class="card card-body">
    {{content}}
  </div>
</div>
