{% set id = 'collapse-' ~ random(1000) %}
{% set attributes =  create_attribute({
  'data-bs-toggle': 'collapse',
  'autocomplete': 'off',
  'aria-expanded': 'false',
  'aria-controls': id,
}) %}

{% if link %}
  {{ pattern('link', {
    label: label,
    variant: variant,
    path: '#' ~ id,
    attributes: attributes
      .setAttribute('role', 'button')
  }) }}
{% else %}
  {{ pattern('button', {
    label: label,
    variant: variant,
    outline: outline,
    size: size,
    attributes: attributes
      .setAttribute('type', 'button')
      .setAttribute('data-bs-target', '#' ~ id),
  }) }}
{% endif %}

<div class="collapse mt-3" id="{{id}}">
  <div class="card card-body">
    {{content}}
  </div>
</div>
