{% set id = 'collapse-' ~ random(1000) %}
<p>
  {% if link %}
    {{ pattern('link', {
      label: label,
      link_style: style,
      variant: 'link',
      attributes: create_attribute({
        'data-bs-toggle': 'collapse',
        'role': 'button',
        'aria-expanded': 'false',
        'aria-controls': id
      }),
      path: '#' ~ id,
    }) }}
  {% else %}
    {{ pattern('button', {
      label: label,
      style: style,
      outline: outline,
      size: size,
      attributes: create_attribute({
        'data-bs-toggle': 'collapse',
        'role': 'button',
        'aria-expanded': 'false',
        'aria-controls': id,
        'href': '#' ~ id
      })
    }) }}
  {% endif %}
</p>
<div class="collapse" id="{{ id }}">
  {{ pattern('card', {
    'content': content,
  }) }}
</div>
