.copyright-overlay {
  background-color: var(--bs-white);
  color: var(--bs-gray-700);
  padding: 0 0.5rem;
  display: inline-flex;
  .copyright-preview {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 7rem;
    font-size: 0.875rem;
  }
  .copyright-trigger {
    font-size: 0.875rem;
  }
  .copyright-header {
    font-size: 1.25rem;
  }
}

.media-container {
  .copyright-overlay {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    border-radius: 4px;
  }
}
