// Custom style for Card v2.
// -----------------------------------------------------------------------------
.card.v2 {
  .card-header {
    order: 1;
  }
  .card-media {
    order: 2;
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
  }
  // Allow links to be clicked through the card title link.
  a:not(.card-title a) {
    position: relative;
  }
  .card-body {
    order: 3;
  }
  .card-footer {
    order: 4;
  }
  .card-title {
    a {
      color: var(--bs-body-color);
      text-decoration: none;
      @include clickable-parent;
    }
  }
}
