// Mixins

// Create the columns sizes
@mixin oebt-make-col($size: false, $columns: $grid-columns) {
  flex: 0 0 auto;
  width: percentage(divide($size, $columns));
  flex-shrink: 0;
  max-width: 100%;
  padding-right: var(--oebt-columns--gutter);
  padding-left: var(--oebt-columns--gutter);
}

@mixin oebt-make-grid-columns($columns: 12) {
  @if $columns > 0 {
    @for $i from 1 through $columns {
      .columns--#{$i}-cols .columns__item {
        @include oebt-make-col($i, $columns);
      }
    }
  }
}

