// Patterns preview styling.
.pattern-single-page {
  .pattern-preview__label {
    display: none;
  }
}

.components-preview__components {
  .bcl-content-banner,
  .bcl-banner {
    width: 100%;
    left: auto;
    margin: 0 0 1rem 0;
    &:has(+.bcl-copyright) {
      margin-bottom: 0;
      + .bcl-copyright {
        margin-bottom: 1rem;
      }
    }
  }

  .date-block-story__preview {
    inline-size: 10rem;
    max-inline-size: 100%;
  }

  &::after {
    display: none;
  }
}
.components-preview__main {
  [data-component-id="oe_bootstrap_theme:card"] {
    img {
      max-inline-size: 100%;
    }
  }
  .carousel img {
    max-inline-size: 100%;
  }
}

.components-preview__preview {
  background: var(--bs-white);
}
