<div class="btn-group {{ directions }}">
  {% set btnAttributes = create_attribute({})
    .setAttribute('data-toggle', 'dropdown')
    .setAttribute('aria-expanded', 'false')
    .addClass('dropdown-toggle') 
  %}
  {{ pattern('button', {
    label: label,
    color: color,
    outline: outline,
    size: size,
    attributes: btnAttributes
  }) }}
  <ul class="dropdown-menu">
    {% for item in items %}
      <li><a class="dropdown-item" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
</div>
