{#
/**
 * @file
 * Jumbotron pattern.
 */
#}
{% set classes = [
  'jumbotron',
  'bg-light',
  'p-5',
] %}

<div{{ attributes.addClass(classes) }}>
  {% if 'fluid' in variant %}
    <div class="container">
  {% endif %}
  {{ content }}
  {% if 'fluid' in variant %}
    </div>
  {% endif %}
</div>
