<div{{ attributes.addClass('jumbotron bg-light p-5') }}>
  {% if 'fluid' in variant %}
  <div class="container">
    {% endif %}
    {{ content }}
    {% if 'fluid' in variant %}
  </div>
  {% endif %}
</div>
