{#
/**
 * @file
 * Navbar pattern.
 */
#}

{% extends '@oe-bcl/navbar' %}

{% block navbar_branding %}
  {% if navbar_branding is not empty %}
    {{ navbar_branding }}
  {% endif %}
{% endblock %}

{% block navbar_left %}
  <div class="me-auto  navbar-nav">
    {{ navbar_left }}
  </div>
{% endblock %}

{% block navbar_right %}
  <div>
    {{ navbar_right }}
  </div>
{% endblock %}
