{#
/**
 * @file
 * Navbar pattern.
 */
#}

{% extends '@oe-bcl/navbar' %}

{% block branding %}
  {% if branding is not empty %}
    {{ branding }}
  {% endif %}
{% endblock %}

{% block navigation %}
  <div class="me-auto navbar-nav">
    {{ navigation }}
  </div>
{% endblock %}

{% block right %}
  {% if right is not empty %}
    <div class="d-flex">
      {{ right }}
    </div>
  {% endif %}
{% endblock %}
