{% spaceless %}
{#
@file
Default item list component.

Parameters:
  - "meta" (array) (default: []): Meta information for the Content Item.
  - "title" (string) (default: ''): Title for the list Content Item.
  - "url" (string) (default: ''): url path for the title Content Item.
  - "detail" (string) (default: ''): Description of Content Item.
  - "image" (array) (default: []): Image for the item.
  - "image_position" (string) (default: ''): Image before of after the item.
  - "length" (int) (default: 0): Max length of detail field.
  - "additional_information" (array): Additional information to be displayed right below the 'Detail' field.
  - "icon" (string) (default: ''): Icon used for the link item.
#}
  {% if url %}
    {% set _title = pattern('link', {
      label: title,
      path: url,
    }) %}
  {% else %}
    {% set _title = title %}
  {% endif %}

  {% if image and variant == 'thumbnail_primary' %}
    {% set image = image|merge({ 'position': 'top' }) %}
  {% elseif image and variant == 'thumbnail_secondary' %}
    {% set image = image|merge({ 'position': 'bottom' }) %}
  {% endif %}

  {% if variant == 'highlight' %}
    {% set _text_classes = 'mb-2' %}
  {% else %}
    {% set _text_classes = 'mb-3' %}
  {% endif %}

  {% if date %}
    {% set _content = '<div><span class="d-lg-inline d-block text-muted mb-2 mb-md-0">'  ~ date.day ~ ' ' ~ date.month_fullname ~ ' ' ~ date.year ~  '</span></div>' %}
    {% set _content = _content|striptags(['<div>','span'])|raw %}
  {% else %}
    {% set _content = "" %}
  {% endif %}

  {% include '@oe-bcl/bcl-card/card.html.twig' with {
    'title': {
      content: _title,
    },
    'text': {
      content: detail,
      classes: _text_classes,
    },
    'content': _content,
    'image': image,
    'variant': '',
    'badges' : meta
  } %}


{% endspaceless %}
