{#
/**
 * @file
 * File download pattern.
 */
#}
{% set _items = [] %}
{% set _label = {} %}
{% if translations.items is not empty and translations.items is iterable %}
  {% set num_languages = 0 %}
  {%  for _file in translations.items  %}
    {% if _file.type != 'content' %}
      {% set _file = _file|merge({
        title: _file.title,
        language: _file.language_code|to_native_language|capitalize,
        meta: '(' ~ _file.size|format_size ~ ' - ' ~ _file.extension|upper ~ ')',
        icon: {
          name: _file.extension|to_file_icon,
          size: '2xl',
          path: bcl_icon_path,
        },
        download: {
          label: button_label|default('Download'|t),
          path: _file.url,
          icon: {
            name: 'download',
            size: 'fluid',
            path: bcl_icon_path,
          },
        },
      }) %}
      {% set num_languages = num_languages +1 %}
    {% endif %}
    {% set _items = _items|merge([_file]) %}
  {% endfor %}
  {% set _label = {
    path: bcl_icon_path,
    label: 'Other languages (@num_translations)'|t({'@num_translations': num_languages}),
    icon_position: 'after',
    icon: {
      name: 'caret-down-fill',
      size: '2xs',
      path: bcl_icon_path,
    },
  } %}
  {% set _translation = {
    label: _label,
    items: _items,
  } %}
{% endif %}
{%  if file is not empty %}
  <div class="mt-4">
    {% include '@oe-bcl/bcl-file/file.html.twig' with {
      icon_path: bcl_icon_path,
      title: file.title,
      language: file.language_code|to_native_language|capitalize,
      meta: '(' ~ file.size|format_size ~ ' - ' ~ file.extension|upper ~ ')',
      icon: {
        name: file.extension|to_file_icon,
        size: '2xl',
        path: bcl_icon_path,
      },
      download: {
        path: bcl_icon_path,
        label: button_label|default('Download'|t),
        path: file.url,
        icon: {
          name: 'download',
          size: 'fluid',
          path: bcl_icon_path,
        },
      },
      translation: _translation,
      attributes: attributes,
    } only %}
  </div>
{% endif %}
