{#
/**
 * @file
 * UI Pattern library standalone page, override this in your theme.
 */
#}

{% if pattern is not empty %}
  <div class="pattern-preview pattern-preview__{{ pattern.definition.id }} pattern-single-page mb-5">
    {{ pattern.meta }}

    <div class="mt-5">
      {# Rendered pattern preview. #}
      {{ pattern.rendered }}
    </div>
  </div>
{% endif %}
