// Import drupal overrides for the tables
// -----------------------------------------------------------------------------
a.tabledrag-handle {
  .handle {
    width: 22px;
    height: 22px;
    margin: -0.2em 0.5em 0;
  }
}
