// Drupal overrides for the admin toolbar
// -----------------------------------------------------------------------------

// Increase admin toolbar z-index
#toolbar-administration {
  #toolbar-bar {
    z-index: 5000;
  }
}
.toolbar-fixed {
  .bcl-sidebar {
    top: 38px;
    .bcl-inpage-navigation {
      top: 3rem;
    }
  }
}

// Offcanvas
.offcanvas-backdrop {
  z-index: 5065;
}
.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
  --bs-offcanvas-zindex: 5070;
}

body:has(#globan) {
  .bcl-inpage-navigation,
  .bcl-sidebar {
    top: 28px;
  }
}

// Modal
.modal {
  --bs-modal-zindex: 5120;
}
.modal-backdrop {
  --bs-backdrop-zindex: 5110;
}
