// Drupal overrides for the admin toolbar
// -----------------------------------------------------------------------------

// Lower admin toolbar z-index in order to not overlap offcanvas and modal.
#toolbar-administration {
  #toolbar-bar {
    z-index: 5000;
  }
}

// Offcanvas
.offcanvas-backdrop {
  z-index: 5065;
}
.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
  --bs-offcanvas-zindex: 5070;
}

// Modal
.modal {
  --bs-modal-zindex: 5120;
}
.modal-backdrop {
  --bs-backdrop-zindex: 5110;
}
