// Page: Header
// -----------------------------------------------------------------------------
header {
  background: $light;
  padding: 10px;
  margin-bottom: 25px;
  @include box-shadow(0 .125rem .25rem rgba(0,0,0,.075));
}
