{% set id = 'collapse-' ~ random(1000) %}
<p>
  {% set btnAttributes = create_attribute({})
    .setAttribute('data-toggle', 'collapse')
    .setAttribute('role', 'button')
    .setAttribute('aria-expanded', 'false')
    .setAttribute('aria-controls', id)
  %}
  {{ pattern('button', {
    label: label,
    color: color,
    outline: outline,
    url: '#' ~ id,
    size: size,
    attributes: btnAttributes
  }) }}
</p>
<div class="collapse" id="{{id}}">
  <div class="card card-body">
    {{content}}
  </div>
</div>
