{#
/**
 * @file
 * Modal pattern.
 */
#}
{% set _id = attributes.id|default(modal_id) %}

{% set _header %}
  {% apply spaceless %}
    {% if title is not empty  %}
      <h5>{{ title }}</h5>
    {% endif %}
    {% if show_close_button is not empty %}
      {% include '@oe-bcl/button' with {
        clean_class: TRUE,
        attributes:  create_attribute()
          .addClass(['btn-close'])
          .setAttribute('data-bs-dismiss', 'modal')
          .setAttribute('aria-label', 'Close'),
      } only %}
    {% endif %}
  {% endapply %}
{% endset %}

{% include '@oe-bcl/modal' with {
  'size': size,
  'id': _id,
  'header': _header,
  'body': body,
  'footer': footer
} only %}

{% if toggle is not empty %}
  {% set _toggle_attributes = toggle.attributes|default({}) %}
  {% set _toggle_attributes = _toggle_attributes|merge({
    'data-bs-toggle': 'modal',
    'data-bs-target': '#' ~  _id,
    'aria-controls': _id
  }) %}
  {% set _toggle = toggle|merge({
    attributes: _toggle_attributes
  }) %}
  {{ pattern('button', _toggle) }}
{% endif %}
