{% if equal_height %}
  {% set attributes = attributes.addClass('h-100') %}
{% endif %}

<div {{ attributes.addClass('card mb-3') }}>
  <div class="row g-0">
    <div class="col-md-4">
    {{ image }}
    </div>
    <div class="col-md-8">
    {{ include('@oe_bootstrap_theme/patterns/card/_card-content.html.twig') }}
    </div>
  </div>
</div>
