{#
/**
 * @file
 * Card pattern.
 */
#}
{% spaceless %}
{% set content %}
  {% if meta is not empty %}
    {# Use negative margin to compensate for me-3 on each item. #}
    <div class="my-3 me-n3">
      {% for _meta_item in meta %}
        <span class="text-muted me-3">{{ _meta_item }}</span>
      {% endfor %}
    </div>
  {% endif %}
  <div>{{ content }}</div>
{% endset %}
{% if url is not empty %}
  {% set title %}
    <a href="{{ url }}" class="text-underline-hover">{{ title }}</a>
  {% endset %}
{% endif %}
{% include '@oe-bcl/card' with {
  'horizontal': orientation == 'horizontal',
  'horizontal_grid': (orientation == 'horizontal') ? {
    left_col_classes: 'col-4',
    right_col_classes: 'col-8',
    gutter: 0,
  } : {},
  'title': (title is not empty) ? {
    'content': title,
  } : {},
  'subtitle': (subtitle is not empty) ? {
    'content': subtitle,
    'classes': 'mb-2',
  } : {},
  'text': (text is not empty) ? {
    'content': text,
    'classes': 'mb-2',
    'tag': 'div',
  } : {},
  'content': content,
  'image': image,
  'card_header': header,
  'card_footer': footer,
  'badges': badges,
  'date': (date is not empty) ? {
    'day': date|date('d'),
    'month': date|date('M'),
    'year': date|date('Y'),
    'date_time': date|date('Y-m-d'),
  } : {},
  'attributes': attributes,
} only %}
{% endspaceless %}
