{% if equal_height %}
  {% set attributes = attributes.addClass('h-100') %}
{% endif %}

<div {{ attributes.addClass('card bg-dark text-white') }}>
  {{ image }}
  <div class="card-img-overlay">
    {% block card_content %}
      {{ include('@oe_bootstrap_theme/patterns/card/_card-content.html.twig') }}
    {% endblock %}
  </div>
</div>
