{% set attributes = attributes.addClass([
  type,
  style ? 'bg-' ~ style
  ]) %}

{% if url or attributes.href %}
  {% set url = url ?: attributes.href %}
  <a {{ attributes.addClass('badge').setAttribute('href', url) }}>{{ label }}</a>
{% else %}
  <span {{ attributes.addClass('badge') }}>{{ label }}</span>
{% endif %}
