{% if variant != '' and variant|lower != 'default' %}
  {% set variants = variant|split('__') %}
  {% for variant in variants %}
    {% if 'pill' in variant %}
      {% set attributes = attributes.addClass('rounded-pill') %}
    {% endif %}
    {% if 'light' in variant %}
      {% set attributes = attributes.addClass('text-dark') %}
    {% endif %}
    {% set attributes = attributes.addClass('bg-' ~ variant|lower|replace({'_': '-'})) %}
  {% endfor %}
{% endif %}

{% if url or attributes.href %}
  {% set url = url ?: attributes.href %}
  <a {{ attributes.addClass('badge').setAttribute('href', url) }}>{{ label }}</a>
{% else %}
  <span {{ attributes.addClass('badge') }}>{{ label }}</span>
{% endif %}
