{% set btnBaseClass = outline ? 'btn-outline-' : 'btn-' %}
{% set attributes = attributes.addClass([
  color ? btnBaseClass ~ color,
  size ? 'btn-' ~ size,
  ]) %}

{% if url or attributes.href %}
  {% set url = url ?: attributes.href %}
  <a{{ attributes.addClass('btn').setAttribute('href', url) }}>{{ label }}</a>
{% else %}
  <button type="button"{{ attributes.addClass('btn') }}>{{ label }}</button>
{% endif %}
