{% set attributes = attributes.addClass([
  style ? 'alert-' ~ style
  ]) %}

{% if dismissible %}
  {% set attributes = attributes.addClass(['alert-dismissible', 'fade', 'show']) %}
{% endif %}

<div{{ attributes.addClass('alert').setAttribute('role', alert) }}>
  {% if heading %}
    <h4 class="alert-heading">{{ heading }}</h4>
  {% endif %}
  {{ message }}
  {% if dismissible %}
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
  {% endif %}
</div>


